<div class="header">
  <div class="languages">
    <div class="lang" (click)="setLanguage('ru')" [ngClass]="getCurrentLanguage() == 'ru' ? 'active' : ''">Rus</div>
    <div class="lang" (click)="setLanguage('en')" [ngClass]="getCurrentLanguage() == 'en' ? 'active' : ''">Eng</div>
  </div>
  <div class="logo">
    <img id="logo" src="../../assets/images/logo.png">
  </div>
  <div class="navbar">
    <a class="navbar-button" routerLink="/torrent" [class.opened]="router.url === '/torrent'">
      {{'HOMEPAGE' | translate}}
    </a>
    <a class="navbar-button" routerLink="about-us" [class.opened]="router.url === '/about-us'">
      {{'ABOUT_US' | translate}}
    </a>
    <a class="navbar-button" routerLink="/donate" [class.opened]="router.url === '/donate'">
      {{'DONATE' | translate}}
    </a>
  </div>
</div>