/* ProgramListLine widget
******************************/

.data-list {}

.data-list-item {
	width: 372px;
	height: 40px;
	font-size: 20px;
	line-height: 38px;
	overflow: hidden;
	border: 8px solid transparent;
}
	.data-list-item__magnet,
	.data-list-item__title {
		float: left;
	}
	.data-list-item__magnet {
		width: 64px;
		color: rgba(255, 255, 255, 0.5);
		text-align: right;
	}
	.data-list-item__title {
		width: 265px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-left: 10px;
	}

.data-list-item._active {
	border-color: #fff;
}
.data-list-item._activated {
	background-color: #323232;
}

.data-list-scroll {
	width: 4px;
	height: 100%;
	background-color: #323232;
	position: absolute;
	top: 0;
	right: 0;
}
	.data-list-scroll__thumb {
		width: 4px;
		background-color: #4A5050;
		position: absolute;
	}
