app-torrent{
  height: 100%;
}
.content {

  .magnet {
    display: flex;
    min-width: 40%;
    min-height: 35%;
    align-items: center;
    flex-flow: column;
    border: 1px solid gray;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    &__form {
      display: flex;
      width: 100%;
    }

    &__input {
      width: 65%;
      padding: 10px;
      margin: 20px;
    }

    &__buttons {
      display: flex;
      padding: 20px;
      width: 20%;

      &.bottom {
        justify-content: space-around;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #228b22;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;

        &.clear {
          background-color: #FD6A02;
        }

        &.disabled {
          cursor: not-allowed;
        }

        &.page {
          background-color: #22ddcd;
          margin-right: 2px;
          margin-left: 2px;

          &.page:hover {
            background-color: #32eddd;
          }

          &.active {
            background-color: #12cdbd;
          }

          &.active:hover {
            background-color: #12cdbd;
          }
        }
      }

      .send:hover {
        background-color: #329b32;
      }
      .clear:hover {
        background-color: #FD7A12;

      }
    }
    .filesWrapper {
      display: flex;
      flex-flow: column;
      width: 100%;

      &__torrentItem {
        padding: 5px;
        display: flex;
        border: 1px solid #A9A9A9;

        &.head {
          background-color: #B3B3B3;
        }

        &.odd {
          background-color: #D3D3D3;
          border-bottom: none;
          border-top: none;

          &.last {
            border-bottom: 1px solid #A9A9A9;
          }
        }

        &:hover {
          color: #00b067;
          text-decoration: underline;
        }
      }

      &__fileName {
        width: 15%;
        border-right: 1px solid #A9A9A9;
        margin-right: 10px;
      }

    }
  }
  .load{
    $count: 10;
    $time: 2; //in seconds
    $size: 100;
    $color: #329B32;

    .holder {
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
    }

    .preloader {
      /* size */
      width: $size + px;
      height: $size + px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation: rotatePreloader $time + s infinite ease-in;
    }
    @keyframes rotatePreloader {
      0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
      }
      100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
      }
    }
    .preloader div {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    .preloader div:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0%;
      width: 10%;
      height: 10%;
      background-color: $color;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    @for $i from 1 through $count {
      .preloader div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
      }
      @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
          opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
          opacity: 1;
          transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
          transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
          transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
          opacity: 1;
        }
      }
    }
  }
}
