<div class="content">
  <form #linkForm="ngForm" class="send-form">
    <div class="link-wrapper">
      <input type="url" [(ngModel)]="linkForm.url" name="magnet" class="link-input" placeholder="{{'MAGNET_LINK_PLACEHOLDER' | translate}}">
      <div class="button-holder">
        <div type="submit" class="button send" [ngClass]="[!isLoading() ? '' : 'disabled']"
             (click)="buildFileList(linkForm.url)">
          {{"SEND_BUTTON" | translate}}
        </div>
        <div class="button clear" *ngIf="getFiles().length" (click)="clearList()">{{'CLEAR_BUTTON' | translate}}</div>
      </div>

    </div>

    <div class="files-wrapper" *ngIf="getFiles().length">
      <div class="torrent-item head">
        <div class="name">
          {{'FILE_NAME' | translate}}
        </div>
        <div class="file-type>">
          {{'FILE_TYPE' | translate}}
        </div>
      </div>
      <div class="torrent-item" *ngFor="let file of getFiles(); let isOdd = odd; let isLast = last;"
           [class.odd]="isOdd" [class.last]="isLast" (click)="startFileDownload(file.path)">
        <div class="name">
          {{getFileName(file.path)}}
        </div>
        <div class="file-type>">{{getFileType(file.path)}}</div>
      </div>
    </div>

    <div class="button-holder bottom" *ngIf="getPagesCount() > 1">
      <div class="button page" *ngFor="let dummy of getDummyArray(); let i = index;"
           [ngClass]="[getCurrentDisplayList() == i ? 'active' : '']" (click)="setDisplayedFiles(i)">{{i + 1}}</div>
      <div class="button clear" (click)="clearList()">{{'CLEAR_BUTTON' | translate}}</div>
    </div>
  </form>

  <div class="load" *ngIf="isLoading()">
    <div class="holder">
      <div class="preloader"><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>