{{$ tp.scenes.templates.assetList.assetList }}

<div class="asset-list-scene container">
	<div class="top-container">
		<div class="logo-container"></div>
		<div class="search-field" data-component="{{% zb.ui.DivInput, {}, searchField }}"></div>
	</div>
	<div class="list-container" data-export-id="{{@assets}}">
		{{% tp.widgets.DataList, {}, assetList }}
	</div>
	<div class="info-container">
	</div>
</div>