html {
  height: 100%;
}
body {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;

  .content {
    margin: 2% 3% 5% 3%;
    overflow: scroll;
  }
}

