/* Player scene
*******************************/

.s-player {
	background: transparent;
}

.s-player-control {}
.s-player-control__wrap {
	background-color: rgba(0, 0, 0, .5);
	font-size: 0;
	line-height: 0;
	text-align: center;
	padding: 16px 0 30px;
	right: 85px;
	left: 413px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}
.s-player-control__item {
	width: 57px;
	height: 57px;
	background-repeat: no-repeat;
	display: inline-block;
	border: 3px solid #8a8a8a;
	border-radius: 32px;
}
.s-player-control__item .focusable {
	border: 3px solid #ffffff;
}
.s-player-control__item._rew {
	background-image: url(img/video-player-control-item-rew.png);
	background-position: 12px 50%;
	margin-right: 18px;
}
.s-player-control__item._ff {
	background-image: url(img/video-player-control-item-ff.png);
	background-position: 16px 50%;
	margin-left: 18px;
}
.s-player-control__item._play {
	background-image: url(img/video-player-control-item-play.png);
	background-position: 23px 50%;
}
.s-player-control__item._pause {
	background-image: url(img/video-player-control-item-pause.png);
	background-position: 50% 50%;
}
.s-player-control__item._full-screen {
	background-image: url(img/video-player-control-item-full-screen.png);
	background-position: 50% 50%;
	position: absolute;
	top: 16px;
	right: 29px;
}
.s-player-control__item._active {
	background-color: #fba015;
	border-color: #fba015;
}
.s-player-control__item._disabled {
	border-color: #4e4e4e;
}
.s-player-control__item._ff._disabled {
	background-image: url(img/video-player-control-item-ff-disabled.png);
}
.s-player-control__item._rew._disabled {
	background-image: url(img/video-player-control-item-rew-disabled.png);
}

