<html ng-app="TorrentWebApplication">
<head>
    <meta charset="UTF-8">
    <title>Torrent Download</title>
    <!-- build:css styles/combined.css -->
    <link href="css/main.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body ng-controller="MainPageController" ng-init="onFirstLoad()">
<div class="header">
    <div class="navbar">
        <div class="navbar-button" ng-class="currentPage == '#!' ? 'opened' : ''"
             ng-click="goToPage('#!')">
            Главная
        </div>
        <div class="navbar-button" ng-class="currentPage == '#!about-us' ? 'opened' : ''"
             ng-click="goToPage('#!about-us')">
            О нас
        </div>
        <div class="navbar-button" ng-class="currentPage == '#!donate' ? 'opened' : ''"
             ng-click="goToPage('#!donate')">
            Донат
        </div>
    </div>

</div>

<div class="body">
    <div class="content" ng-view></div>
</div>

<script src="js/libs.min.js"></script>
<!-- build:js scripts/combined.js -->
<script src="js/main.js"></script>
<!-- endbuild -->
</body>
</html>
