body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  .header {
    flex-flow: row;
    height: 5%;

    .navbar {
      height: 100%;
      display: flex;

      .navbar-button {
        padding: 10px;
        border: 1px solid gray;
        border-left: none;
      }
      .navbar-button:first-child{
        border-left: 1px solid gray;
      }
    }
  }
  .body {
    display: flex;
    width: 100%;
    height: 100%;

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .send-form {
        display: flex;
        height: 35%;
        width: 40%;
        align-items: center;
        flex-flow: column;
        border: 1px solid gray;
        justify-content: space-between;
        padding: 20px;

        .link-input {
          width: 90%;
          height: 10%;
          padding: 10px;
        }
        .send-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;
          height: 15%;
          background-color: #228b22;
          color: white;
          cursor: pointer;
        }
        &.disabled {
          cursor: not-allowed;
        }
        .send-button:hover {
          background-color: #329b32;
        }


      }

    }
  }
}